@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --primary-color: rgb(26, 26, 26);
  --secondary-color: #8b0000;
  --secondary-color-o: rgba(139, 0, 0, 0.7);
  --secondary-color-rgb: rgb(139, 0, 0);
  --text-color: #d0d0d0;
  --subtext-color: #b0b0b0;
  --crt-background-color: #000;
  --crt-scanline-intensity: rgba(18, 16, 16, 0.3);
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--primary-color);
  color: var(--crt-text-color);
  background-image: linear-gradient(
      rgba(26, 26, 26, 0.4),
      rgba(26, 26, 26, 0.9)
    ),
    url("bg_1.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

body.rain::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 120%;
  height: 120%;
  background: url("rain.png");
  animation: rain 0.3s linear infinite;
  opacity: 0.25;
}

@keyframes rain {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 20% 100%;
  }
}

body.retro-effect::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 1px,
    var(--crt-scanline-intensity) 2px,
    var(--crt-scanline-intensity) 4px
  );
  pointer-events: none; /* Allows clicks to pass through */
  z-index: 9999;
}

body.retro-effect::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle, transparent 50%, rgba(0, 0, 0, 0.5) 100%);
  pointer-events: none;
  z-index: 9998;
}

a {
  text-decoration: none;
}

::selection {
  color: var(--subtext-color); /* Text color when selected */
  background-color: var(--secondary-color); /* Background color when selected */
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 36px;
}

.left {
  position: fixed;
  width: 44%;
  height: 100vh;
  box-sizing: border-box;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right {
  position: absolute;
  right: 0;
  width: 56%;
  height: 100vh;
  padding: 60px;
  box-sizing: border-box;
}

h1,
h2,
p {
  margin: 0;
  color: var(--text-color);
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--secondary-color);
}

h3 {
  font-size: 1.1rem;
  font-weight: 900;
  color: var(--secondary-color);
}

p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--subtext-color);
}

i {
  color: var(--subtext-color);
}

li {
  list-style: none;
  font-size: 1.4rem;
}

li a {
  text-decoration: none;
  color: var(--text-color);
}

.navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Styling navigation links */
.navigation a {
  display: inline-block;
  transition: 0.4s ease; /* Smooth transition */
  margin-bottom: 10px;
}

/* Apply grow effect on hover */
.navigation a:hover {
  transform: scale(1.4); /* Grow the element by 10% on hover */
  transform-origin: left;
  color: var(--secondary-color);
}

.social-media {
  font-size: 1.6rem;
}

.social-media i {
  margin-right: 20px;
  transition: 0.4s ease;
  margin-bottom: 60px;
}

.social-media i:hover {
  transform: translateY(-5px);
  color: var(--secondary-color);
}

.spotlight {
  position: fixed; /* Fixed position */
  top: 0;
  left: 0;
  width: 900px; /* Spotlight size */
  height: 900px;
  background: radial-gradient(
    circle at center,
    rgba(189, 0, 0, 0.09) 0%,
    rgba(189, 0, 0, 0) 70%
  );
  pointer-events: none; /* Disable mouse events on the spotlight */
  border-radius: 50%; /* Make it circular */
  transform: translate(-50%, -50%); /* Center the spotlight */
  z-index: 1000; /* Bring it to the front */
}

.right p {
  margin-top: 15px;
  margin-bottom: 20px;
}

.about {
  margin-bottom: 50px;
  padding: 0 24px;
}

.card {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  display: block;
  padding: 24px;
  cursor: pointer;
  transition: 0.2s ease;
  margin: 20px 0;
}

.card:hover {
  background-color: rgba(139, 0, 0, 0.1);
}

.project_description {
  font-size: 0.9rem;
}

.tags span {
  display: inline-block;
  background-color: var(--secondary-color-o);
  color: var(--text-color);
  padding: 6px 14px;
  border-radius: 20px;
  margin-right: 4px;
  margin-bottom: 6px;
  font-size: 0.9rem;
}

.highlight-text {
  color: var(--secondary-color);
  cursor: pointer;
  text-decoration: none;
}

.contact {
  margin-top: 50px;
  padding: 24px;
}

.language-switcher {
  position: absolute;
  top: 0;
  left: 60px;
  color: #fff;
}

.language-switcher a {
  color: var(--text-color);
  text-decoration: none;
}

.language-switcher a:hover {
  color: var(--secondary-color);
}

.wiu {
  margin-top: 80px;
  margin-bottom: 40px;
}

.slide-container {
  position: relative;
}

.tags-slide {
  width: 100%;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}

.tags-slide span {
  display: inline-block;
  margin-right: 10px; /* Space between tags */
}

.retro-btn {
  background-color: rgba(0, 0, 0, 1);
  position: absolute;
  right: 100px;
  top: 0;
  padding: 1px;
  z-index: 100;
  cursor: pointer;
}

.rain-btn {
  background-color: rgba(0, 0, 0, 1);
  position: absolute;
  right: 150px;
  top: 0;
  padding: 1px;
  z-index: 100;
  cursor: pointer;
}

/* Responsive styles for screens smaller than 1200px */
@media (max-width: 1200px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
  }

  .left,
  .right {
    position: relative;
    width: 100vw; /* Full width */
    box-sizing: border-box;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .left {
    display: flex;
    align-items: center;
  }

  .right {
    display: flex;
  }

  .header {
    text-align: center;
  }

  .contact {
    text-align: center;
  }
}
